In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

%config InlineBackend.figure_format = 'retina'
#%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12.0,6.0)
print("Setup Complete")

Setup Complete

In [6]:
f = open("AndrewNg/ex2data1.txt")
df = pd.read_csv(f)
df.head()

   34.62365962451697  78.0246928153624  0
0          30.286711         43.894998  0
1          35.847409         72.902198  0
2          60.182599         86.308552  1
3          79.032736         75.344376  1
4          45.083277         56.316372  0